.input--header {
  position: relative;
}

.search-icon {
  color: var(--secondary);
  position: absolute;
  right: 0.25rem;
  top: 0.5rem;
}

.card {
  border: 1px solid var(--border);
  border-radius: 0.25rem;
  margin-bottom: 1rem;
  padding: 2%;
  position: relative;
}

.card--category {
  color: var(--primary);
}

.card--image {
  border-radius: 50%;
  position: absolute;
  right: 2%;
  top: 2%;
  width: 50px;
}

.card--date {
  color: var(--secondary);
}

.card--summary {
  padding: 1rem 0;
}

.card--link {
  display: block;
  text-align: right;
}

.footer--copyright {
  flex: 1;
  padding: 0 0.5rem;
}

.footer--list {
  flex: 1;
  display: flex;
  justify-content: space-around;
}

.footer--list-item {
  padding: 0 0.5rem;
}

@media (min-width: 600px) {
  .card {
    flex: 0 0 calc(50% - 1rem * 2);
    margin: 1rem;
  }
}

@media (min-width: 901px) {
}
